html, body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  flex-wrap: nowrap;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
  z-index: 2;
  background-color: white;
  font-family: sans-serif;
}

#logo-container {
  display: flex;
  text-align: left;
  padding-right: 200px;
  margin-left: 20px;
  color: mediumaquamarine;
  font-weight: bold;
  align-self: center;
}

#logo-container h4 {
  display: inline-block;
  margin-left: 5px;
}

#header-nav {
  text-align: right;
  display: inline-flex;
  margin-right: 0;
  padding-right: 0;
}

#header-nav a {
    display: inline-block;
    color: black;
    margins: 0 20px;
    padding-right: 5px;
}

#news {
    z-index: -1;
    display: flex;
    flex-direction: row;
    }

#left-col {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 25px 25px;
  align-items: center;
  justify-content: center;
  font-size: 13pt;
  font-weight: 550;
}

#phishy {
  height: 600px;
  margin-bottom: 0;
}

#phishy-img {
  background-image: url("./images/img-phishy.png");
  height: 300px;
  position: relative;
}

#phishy-img h1 {
  position: absolute;
  padding: 45px 5px 60px 5px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 45px;
  text-align: left;
  color: white;
}

#main-row-2 {
  display: flex;
  flex-direction: row;
}

.story {
  width: 290px;
  margin-top: 0;
  margin-right: 25px;

}

.img-headline {
  color: white;
  text-align: center;
  position: absolute;
  margin: 10px 10px;
  padding-top: 75px;
}

#main-row-3 {
  display: flex;
  flex-direction: row;
}

#spins {
  background-image: url("./images/img-spins-backwards.png");
  height: 300px;
  position: relative;
}

#camera {
  background-image: url("./images/img-camera-memory.png");
  height: 300px;
  position: relative;
}

#center-col {
width: 300px;
}

#cat-img {
background-image: url("./images/img-cat-ceo.png");
height: 300px;
position: re

}

aside li{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  background-color: mediumaquamarine;
  text-align: center;
  font-family: sans-serif;
  positon: block;
  }

footer a {
      color: black;
  }

footer h3 {
      display: inline-block;
      color: white;
      font-family: serif;
    }
